<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75722398621-edv5jf5b4e8edosagcv50gokg390cvf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75722398621-edv5jf5b4e8edosagcv50gokg390cvf7</string>
	<key>API_KEY</key>
	<string>AIzaSyB9XzXn_hRcqCT4fB7TXUCckEsxnIZoYy0</string>
	<key>GCM_SENDER_ID</key>
	<string>75722398621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DannyMo.com.uEats</string>
	<key>PROJECT_ID</key>
	<string>ueats-914db</string>
	<key>STORAGE_BUCKET</key>
	<string>ueats-914db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75722398621:ios:1a454df1ec34f4e90dad74</string>
</dict>
</plist>